@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

body {
	background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
}


.title {
	font-weight: bold;
	font-size: 30px;
}
#title {
	background-color: #222;
	color : #fff;
	margin: 0;
	text-align: center;
	padding: 1px;
	border: 0;
	width: auto;
	height: auto;
	transform : rotate(0.04deg);
}
.accent{
	border: 1px solid #000;
	padding: 5px;
}
.bg{
	background-color: #ddd;
}
#container{ /* 내용 전체를 감싸는 영역*/
	width: 600px; /*너비 600픽셀*/
	margin: 20px auto; /*내용이 화면 중앙에 오도록 지정*/
	border: 1px solid #000; /*테두리 굵기와 색깔*/
	padding: 10px; /*테두리와 내용 사이 여백*/
	font-family: 'Noto Sans KR', sans-serif; /*폰트 설정*/
	color: #9F9FEF; /*폰트 색상 설정*/
	transform : rotate(0.04deg); /*안티앨리어싱 적용되어 보임*/
}
.img_center{
	display: block;
	text-align: center;
}
.wfont{
	font-family: 'Dongle', sans-serif;
}
.center{
	text-align: center;
}
.nav-container{
	display: flex;
	flex-direction: row;
	width : 100%;
	margin: 0; /*쓸모없는 공백 제거*/
	padding: 0; /*쓸모없는 공백 제거*/
	background-color: darkslategray;
	list-style-type: none; /*목록 기호 제거*/
}
.nav-item{
	padding:15px;
	cursor: pointer;/*마우스 커서를 포인터 모양으로 함*/
}
.nav-item a{
	text-align: center;
	text-decoration: none;
	color: white;
}
.nav-item a.current{
	background-color: darkslategray;
}
.nav-item:hover{
	background-color: gray;
	transition: all 0.3s ease-in-out;
}
.nav-item:active{
	background-color: silver;
}
.logo-container{
	display: flex;
	flex-direction: row;
	width : 100%;
	margin: 0; /*쓸모없는 공백 제거*/
	padding: 0; /*쓸모없는 공백 제거*/
	background-color: darkslategray;
}
.logo-item{
	text-align: center;
	text-decoration: none;
	color: white;
}
.logo-container:hover{
	background-color:gray;
}
input[type=radio]:checked + label{
	color: red;
	font-weight: bold;
}
input[type=checkbox]:checked + label{
	color: red;
	font-weight: bold;
}
.signup input[type=text], .signup input[type=password], .signup input[type=tel], .signup input[type=email], .signup input[type=memo]{
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px;
	width: 200px;
}
.signup label{
	float: left; /*왼쪽으로 배치*/
	font-size: 15px;
	width: 110px; /* 너비를 110으로 설정*/
}
.delivery_if input:not[type=radio]{
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px;
	width: 200px;
}


.delivery_if label{
	float: left; /*왼쪽으로 배치*/
	font-size: 15px;
	width: 110px; /* 너비를 110으로 설정*/
}

#box{
	background-color: #4cff00;
	border: 1px solide transparent;
	animation-name: shape;
	animation-duration: 3s;
}

@keyframes shape{
	from{border: 1px solid transparent; }
	to{
		border: 1px solid #000;
		border-radius: 50%;
	}
}