@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

.title {
	font-weight: bold;
	font-size: 30px;
}
#title {
	padding: 1px;
	background-color: #222;
	color : #fff;
	margin: 0;
	text-align: center;
	padding: 1px auto;
	border: 0;
}
.accent{
	border: 1px solid #000;
	padding: 5px;
}
.bg{
	background-color: #ddd;
}
#container{ /* 내용 전체를 감싸는 영역*/
	width: 600px; /*너비 600픽셀*/
	margin: 20px auto; /*내용이 화면 중앙에 오도록 지정*/
	border: 1px solid #000; /*테두리 굵기와 색깔*/
	padding: 10px; /*테두리와 내용 사이 여백*/
	font-family: 'Noto Sans KR', sans-serif; /*폰트 설정*/
	color: #917FC3; /*폰트 색상 설정*/
}
.img_center{
	display: block;
	text-align: center;
}
.wfont{
	font-family: 'Dongle', sans-serif;
}
.center{
	text-align: center;
}
